* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 10px rgba(0,0,0,1);
    /* background-color: black; */
}

#section1 {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 999;
    color: #fff;
    font-family: Lato, sans-serif;
}

.about {
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 60%;
    align-self: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px;
    width: 100%;
    border-radius: 30px;
}

.navbar>.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
}

.navbar>.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    backdrop-filter: blur(20px);
    border-radius: 50px;
}

.navbar>.nav-links>.nav-btn {
    width: 115px;
    font-size: 15px;
    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 8px;
    transition: all .3s ease-in-out;
    margin: 5px;
}

.navbar>.nav-links>.nav-btn>a {
    color: #fff;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

.navbar>.nav-logo>.nav-img {
    width: 40px;
    margin-left: 20px;
}

.event-card-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-card {
    width: 80vw;
    height: 80vh;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    border: 2px solid #c866ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-btn>a>button {
    border-radius: 3.125rem;
    width: 125px;
    height: 43px;
    margin: 0 10px;
    padding: 0.2rem 1.5rem;
    background-color: #121316;
    border: 2px solid #c866ff;
    color: #fff;
    font-size: 12px;
    transition: all .3s ease;
    font-family: Inter, sans-serif;
    cursor: pointer;
}

.card-btn > a > button:hover {
    
    background-color: #23043652;
}
@media (max-width: 985px)
{
.card-btn>a>button {
    border-radius: 3.125rem;
    width: 125px;
    height: 43px;
    margin: 0 10px;
    padding: 0.2rem 1.5rem;
    background-color: #51008052;
    color: #fff;
    font-size: 12px;
    transition: all .3s ease;
    font-family: Inter, sans-serif;
    cursor: pointer;
}
}

.co-ordinators {
    display: flex;
    text-align: center;
}

.co-ordinator {
    margin: 20px;
}
@font-face {
    font-family: myfont ;
    src: url(ailerons/Ailerons-Typeface.otf);
}
.name
        {
            font-size: 120px;
            font-family:myfont;
            font-weight: 400;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-shadow: 0 0 10px rgba(0,0,0,.7);
            outline: none;
            cursor: default;
            color: #c866ff;
        }
        @media (max-width: 985px)
        {
        .name {
            font-size: 50px;
            /* font-family: Ailerons, Helvetica, Arial, sans-serif; */
        }
    }
        
            .dept {
                text-align: center;
                font-size: 30px;
            }
            @media (max-width: 985px)
            {
            .dept {
                text-align: center;
                font-size: 20px;
            }
        }
            .about {
                text-align: center;
                font-size: 18px;
                color: #fff;
                width: 60%;
                align-self: center;
            }
            @media (max-width: 985px)
            {
.about {
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 90%;
    align-self: center;
}
            }
        .co-ordinator {
    margin: 20px;
}
.nav-text
{
    font-size: 18px;
    cursor: default;
}
.navbar>.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    backdrop-filter: blur(20px);
    border-radius: 50px;
}
.navbar>.nav-links>.nav-btn {
    width: 115px;
    font-size: 15px;
    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 8px;
    transition: all .3s ease-in-out;
    margin: 5px;
}
.nav-links {
    text-align: center;
  }

  .nav-btn {
    margin: 5px;
  }

  .community-btn {
    display: block; /* Ensures the button is displayed as a block element */
  }

  /* Media query for screen width <= 411px */
  @media (max-width: 350px) {
    .community-btn {
      display: none; /* Hides the button when screen width is 411px or less */
    }
  }
  @media (max-width: 633px) {
    .nav-text {
      display: none; /* Hide the "INNOVISION" text when screen width is below 633px */
    }
  }
